h1, h2
{
	margin: auto;
	text-align: center;
	font-family: 'Glass Antiqua', cursive;	
}

h1
{
	font-size: 70;
	width: 345px;
}

h2
{
	font-size: 30;
    background: linear-gradient(to right,#fcdccc,#eae5f3);
   	width: 800;
    margin-bottom: 70px;
    color: rgba(0,0,0,0.6);
}

p
{
	width: 790px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;	
    text-align: justify;
	font-family: 'Muli', sans-serif;    
}

.main_title_foliage
{
	width:50%;
}

.title_part
{
	float: left;
}

#main_title
{
	width: 670px;
	margin: auto;
}

#title_foliage_left
{
	margin-right:-240px;
}

#title_foliage_right
{
    left: -50px;
    position: relative;	
}

#portrait
{
	width: 40%;
    float: right;
    margin-left: 28px;
}